[Desktop Entry]
Type=Application
Name=UO Outlands
Comment=Start Ultima Online Outlands
Exec=/usr/local/bin/uo-outlands
Icon=input-gaming
Terminal=false
Categories=Game;
